@import 'colors';

@mixin input {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font: 12px Arial;
  -webkit-writing-mode: horizontal-tb;
  -webkit-appearance: textfield;
  background-color: white;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  outline: 0;
  box-sizing: border-box;
}

@mixin textfeild {
  @include input;
  
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  display: block;
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
  margin: 20px;
  padding: 4px;
  width: calc(100% - 40px);
  background: 0 0;
  text-align: left;
  color: inherit;
  
  &:focus {
    border-color: $mainColor;
  }
}